
DATABASE_URL: postgresql://scraper:scraper@db:5432/vacancies
ASYNC_DATABASE_URL=postgresql+asyncpg://scraper:scraper@db:5432/vacancies
AI_MODEL_NAME="sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2"
GEMINI_API_KEY=
TELEGRAM_BOT_TOKEN= # the same as for junior_job_notifier_bot
HF_TOKEN= # not necessarily

GEMINI_API_KEY=

